@model IEnumerable<CRMModels.Read.ReadDepartmentAccess>

@{
    ViewBag.Title = "DepartmentAccess";
}

<h2>DepartmentAccess</h2>

<p>
    @Html.ActionLink("Create Department Access", "DepartmentAccessCreate")
</p>
<table class="table">
    <tr>        
        <th>
            @Html.DisplayNameFor(model => model.DepartmentName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.UserID)
        </th> 
        <th>
            @Html.DisplayNameFor(model => model.Access)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CreatedDateUTC)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ModifiedDateUTC)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.DepartmentName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.UserID)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Access)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CreatedDateUTC)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ModifiedDateUTC)
        </td>
        <td>
            @Html.ActionLink("Edit", "DepartmentAccessEdit", new { id=item.DepartmentAccessID }) |
            @Html.ActionLink("Delete", "Delete", new { id = item.DepartmentAccessID })
        </td>
    </tr>
}

</table>
