@model IEnumerable<CRMModels.Read.ReadDepartments>

@{
    ViewBag.Title = "Departments";
}

<h2>Departments</h2>

<p>
    @Html.ActionLink("Create Department", "DepartmentCreate")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.DepartmentName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CreatedDateUTC)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ModifiedDateUTC)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.DepartmentName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CreatedDateUTC)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ModifiedDateUTC)
        </td>
        <td>
            @Html.ActionLink("Edit", "DepartmentEdit", new {id=item.DepartmentID}) |           
            @Html.ActionLink("Delete", "DepartmentDelete", new { id = item.DepartmentID})
        </td>
    </tr>
}

</table>
